html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    font-family: 'Noto Sans JP', sans-serif !important;
}